<header class="header" role="banner">
	
	<h1 class="site-title"><a href="/">Hugo<span>Giraudel</span>.com</a></h1>

	<div class="avatar">
		<img src="/images/hugo-giraudel.jpg" alt="Photo Hugo Giraudel" />
	</div>

</header>